@import url("https://fonts.googleapis.com/css?family=Poppins");

/* Base Style */
html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

html a {
  text-decoration: none;
}

/* Header Style */
header {
  padding: 40px 107px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav img {
  height: 82px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  font-size: 1.2em;
}

.nav li {
  padding-left: 72px;
}

.nav li a {
  color: #fff;
}

.nav .current:after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
}

.hamburger {
  width: 1.75em;
  cursor: pointer;
  z-index: 61;
  display: none;
}

.hamburger:after,
.hamburger:before,
.hamburger div {
  background-color: #fff;
  border-radius: 3px;
  content: "";
  display: block;
  height: 0.25em;
  margin: 0.25em 0;
  transition: all 0.6s ease-in-out;
}

.close:after {
  background-color: #fff;
  transform: translateY(-0.5em) rotate(-135deg);
}

.close:before {
  background-color: #fff;
  transform: translateY(0.5em) rotate(135deg);
}

.close div {
  background-color: #fff;
  transform: scale(0);
}

/*Footer Style*/

footer {
  font-size: 1.2em;
  color: #fff;
  padding: 40px 107px;
  display: flex;
  justify-content: flex-end;
}

footer a {
  font-size: 0.8em;
  color: #fff;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 72px;
}

footer div img {
  height: 1.2em;
  padding-left: 13px;
}

@media (max-width: 1080px) {
  header {
    padding: 1.5em;
  }

  .nav li {
    padding-left: 50px;
  }
}

@media (max-width: 860px) {
  .hamburger {
    display: block;
  }
  .nav img {
    height: 70px;
  }

  .nav .current:after {
    display: none;
  }

  .nav .current {
    font-weight: bolder;
  }

  .menu {
    background-color: rgba(0, 0, 0, 0.93);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 50;
    transform: translateX(100%);
  }

  .menu ul {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
  }

  .menu li {
    padding-top: 1em;
    padding-left: 0;
  }

  .open-menu {
    transform: translateX(0);
  }

  footer {
    padding: 1.5em;
  }

  footer div {
    padding: 0;
    align-items: flex-end;
  }

  footer a {
    font-size: 1em;
  }

  footer span {
    display: none;
  }
}
