/* Base Style */
html {
  background-image: linear-gradient(89.91deg, #396afc -1.28%, #2949ff 98.15%);
  background-size: cover;
  min-height: 100vh;
}

/* Section Style */
section {
  padding: 40px 130px;
  color: #fff;
}

section p {
  padding-right: 50px;
  font-size: 1.2em;
}

@media (max-width: 1080px) {
  section {
    padding: 1.5em;
  }
}

@media (max-width: 860px) {
  section h1 {
    font-size: 1.5em;
  }

  section p {
    font-size: 1em;
    margin-right: 0;
    padding: 0;
  }
}
