/* Base Style */
html {
  background-image: linear-gradient(
      89.91deg,
      #396afcd0 -1.28%,
      #2949ffd3 98.15%
    ),
    url(../images/background.jpg);
  background-size: cover;
  min-height: 100vh;
}

/* Section Style */
section {
  padding: 40px 107px;
  color: #fff;
}

section .top h1 {
  font-weight: bold;
  font-size: 2em;
}

section .top p {
  font-size: 1.2em;
  margin-right: 250px;
}

section .top a {
  display: block;
  background-color: #fff;
  border-radius: 28px;
  width: fit-content;
  padding: 0.8em 1.8em;
  color: #2a49ff;
  margin-top: 35px;
}

section .bottom {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
}

section .stat {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
}

section .events {
  border-right: solid 1px #fff;
  border-left: solid 1px #fff;
}

@media (max-width: 1080px) {
  section {
    padding: 1.5em;
  }
}

@media (max-width: 860px) {
  section .top h1 {
    font-size: 1.5em;
  }

  section .top p {
    font-size: 1em;
    margin-right: 0;
  }

  section .bottom {
    flex-direction: column;
  }

  section .events {
    border-right: none;
    border-left: none;
  }
}
